@import "tailwindcss";

body {
  font-family: "PT Sans", sans-serif;
}

.container {
  max-width: 1180px;
  box-sizing: border-box;
  margin: 0 auto;
}

.background {
  background-image: url("/background-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  background-position: center, right bottom;
  /* filter: brightness(0.6); */
}
